* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.jumbotron {
  background-image: url("../img/pope-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 760px;
  margin-bottom: 32px;
  position: relative;
  width: 100%;
}

.header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  width: 100%;
}

.container {
  margin: 0 auto;
  width: 960px;
}

.navbar {
  height: 100px;
}

.logo {
  color: white;
  display: inline-block;
  font-size: 30px;
  font-weight: 400;
  margin-top: 36px;
}

.navbar__nav {
  float: right;
  margin-top: 34px;
}

.navbar__nav__ul {
  list-style-type: none;
  overflow: hidden;
}

.navbar__nav__li {
  float: left;
}

.navbar__nav__li__a {
  color: white;
  display: block;
  font-size: 16px;
  font-weight: 300;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
}

.icon-search__medium {
  font-size: 20px;
}

.main-thumb {
  background: rgba(0, 0, 0, 0.6);
  height: 450px;
  margin: 65px 0 20px 0;
  overflow: hidden;
  position: relative;
  width: 500px;
}

.main-information {
  color: white;
  padding-top: 38px;
  margin-left: 32px;
  margin-right: 70px;
}

.main-question {
  font-size: 16px;
  font-weight: 300;
}

.main-character {
  font-size: 56px;
  margin-bottom: 24px;
}

.main-description {
  font-size: 21px;
  font-weight: 300;
  margin-bottom: 24px;
}

.main-more {
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 26px;  
}

.main-more__a {
  color: white;
}

.main-action-text {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 31px;
}

.main-vote {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 80px;
  text-align: center;
  vertical-align: middle;
  line-height: 80px;
}

.main-thumbs__up {
  background-color: rgba(28, 187, 180, 0.8);
  color: white;
  font-size: 38px;
}

.main-thumbs__down {
  background-color: rgba(255, 173, 29, 0.8);
  color: white;
  font-size: 38px;
}

.count-down {
  background: rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: 35% 65%;
  height: 50px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.text-count-down {
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  text-align: right;
  padding: 15px 10px 16px 0;
}

.days-count-down {
  background: rgba(255, 255, 255, 0.6);
  font-size: 36px;
  font-weight: 300;
  color: #464646;
}

.days-count-down__p {
  background-image: url("../img/sep-count-down.png");
  background-repeat: no-repeat;
  padding-left: 16px;
  height: 50px;
}

.days-count-down__strong {
  font-weight: 400;
}

.promo-message {
  background: rgb(235, 235, 235);
  color: #333333;
  display: grid;
  grid-template-columns: 222px auto 60px;
  height: 100px;
  margin-bottom: 40px;
}

.promo-message-main {
  display: inline-block;
  padding: 14px 0 0 20px;
}

.promo-main__1 {
  font-size: 21px;
  font-weight: 300;
}

.promo-main__2 {
  font-size: 34px;
  font-weight: 700;
}

.promo-message-secondary {
  display: inline-block;
  font-size: 14px;
  font-weight: 300;
  padding-top: 30px;
}

.promo-action-close {
  display: inline-block;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  vertical-align: middle;
  line-height: 100px;
}

.promo-action-close__a {
  color: #333333;
  text-decoration: none;
}

.votes-title {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 48px;
}

.votes-list {
  display: grid;
  grid-column-gap: 4%;
  grid-row-gap: 40px;
  grid-template-columns: 48% 48%;
  margin-bottom: 38px;
}

.vote-card {
  color: white;
  height: 470px;
  overflow: hidden;
  position: relative;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.vote-background {
  bottom: -9999px;
  height: 100%;
  left: -9999px;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  position: absolute;
  right: -9999px;
  top: -9999px;
}

.vote-overlay {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.01));
  height: 50%;
  overflow: hidden;
  position: relative;
  top: 50%;
  width: 100%;
}

.vote-information {
  display: grid;
  grid-template-columns: 9% auto;
}

.vote-result {
  padding-top: 12px;
}

.vote-container {
  width: 370px;
}

.vote-title {
  font-size: 45px;
  font-weight: 400;
}

.vote-time {
  font-size: 12px;
}

.vote-group__action__hide {
  display: none;
}

.vote-description {
  font-size: 16px;
  font-weight: 300;
  padding-top: 10px;
  height: 48px;
}

.vote-actions {
  padding-bottom: 20px;
  padding-top: 15px;
}

.vote-action__up {
  background-color: rgba(28, 187, 180, 1);
  border: none;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  vertical-align: middle;
  width: 32px;
}

.vote-action__down {
  background-color:  rgba(255, 173, 29, 1);
  border: none;
  color: #ffffff;
  display: inline-block;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  vertical-align: middle;
  width: 32px;
}

.vote-action__vote {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 14px;
  height: 32px;
  padding-left: 20px;
  padding-right: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  vertical-align: middle;
}

.vote-action__vote:disabled {
  border-color: rgb(194, 183, 183);
  color: rgb(194, 183, 183);
  pointer-events: none;
}

.vote-action__vote:hover {
  background: rgba(255, 255, 255, 0.1);
  outline: none;
}

.vote-action__vote:focus {
  background: rgba(255, 255, 255, 0.4);
  outline: none;
}

.vote-action__again {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: 14px;
  height: 32px;
  padding-left: 20px;
  padding-right: 20px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  vertical-align: middle;
}

.vote-action__again:hover {
  background: rgba(255, 255, 255, 0.1);
  outline: none;
}

.vote-action__again:focus {
  background: rgba(255, 255, 255, 0.4);
  outline: none;
}

.vote-action__up:focus, .vote-action__down:focus {
  border: 1px solid #ffffff;
  outline: none;
}

.vote-results {
  font-size: 26px;
  font-weight: 300;
  position: absolute;
  bottom: 0;
  width: 100%;
  max-height: 44px;
}

.vote-result__up {
  background-color: rgba(28, 187, 180, 0.6);
  padding: 6px 10px;
  text-align: left;
  float: left;
  max-height: 44px;
}

.vote-result__down {
  background-color: rgba(255, 173, 29, 0.6);
  padding: 6px 10px;
  text-align: right;
  float: right;
  max-height: 44px;  
}

.banner-submit {
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80px;
  margin-bottom: 40px;
}

.banner-submit__p {
  display: inline-block;
  width: 70%;
  font-size: 30px;
  font-weight: 300;
  color: #333333;
  padding: 20px 0 0 20px;
}

.banner-submit__button {
  border: 2px solid #333333;
  background-image: inherit;
  font-size: 20px;
  color: #333333;
  height: 50px;
  width: 200px;
  margin-left: 50px;
}

.footer {
  border-top: 1px dotted #333333;
  display: grid;
  font-size: 12px;
  font-weight: 300;
  grid-template-columns: 50% 50%;
  height: 60px;
  margin-bottom: 40px;
  padding-top: 20px;
}

.footer-links__ul {
  list-style-type: none;
  overflow: hidden;
}

.footer-links__li {
  display: inline-block;
}

.footer-links__li__a {
  color: #333333;
  display: block;
  padding: 14px 6px;
  text-decoration: none;
}

.footer-follow-us {
  text-align: right;
  position: relative;
}

.footer-follow-text {
  display: inline-block;
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer-social {
  display: inline-block;
  height: 100%;
  font-size: 28px;
}

.footer-social__a {
  color: #333333;
  text-decoration: none;
  padding-left: 10px;
}

@media screen and (max-width:992px) {
  .jumbotron {
    background-image: url("../img/pope-background-medium.png");
    height: 500px;
    margin-bottom: 22px;
    position: relative;
    width: 100%;
  }

  .container {
    width: 768px;
  }

  .navbar {
    height: 80px;
  }

  .logo {
    padding-left: 16px;
  }

  .navbar__nav {
    padding-right: 16px;
  }

  .main-thumb {
    height: 308px;
    margin: 22px auto;
    width: 500px;
  }

  .main-information {
    padding-top: 20px;
  }

  .main-character {
    font-size: 38px;
    margin-bottom: 16px;
  }

  .main-description {
    font-size: 16px;
    margin-bottom: 16px;
  }

  .main-more {
    margin-bottom: 16px;  
  }

  .main-action-text {
    font-size: 16px;
    margin-bottom: 22px;
  }

  .main-vote {
    height: 60px;
    line-height: 60px;
  }

  .main-thumbs__up {
    font-size: 26px;
  }

  .main-thumbs__down {
    font-size: 26px;
  }

  .count-down {
    bottom: 0px;
  }

  .text-count-down {
    font-size: 13px;
    padding: 15px 8px 14px 0;
  }

  .days-count-down {
    font-size: 26px;
  }

  .days-count-down__p {
    height: 30px;
  }

  .promo-message {
    height: 80px;
    margin-bottom: 30px;
  }

  .promo-message-main {
    padding: 10px 0 0 20px;
  }

  .promo-main__1 {
    font-size: 18px;
  }

  .promo-main__2 {
    font-size: 26px;
  }

  .promo-message-secondary {
    font-size: 14px;
    padding-top: 12px;
  }

  .promo-action-close {
    font-size: 18px;
    line-height: 80px;
  }

  .votes-title {
    font-size: 32px;
    margin-bottom: 36px;
    text-align: center;
  }

  .votes-list {
    grid-column-gap: 0%;
    grid-row-gap: 40px;
    grid-template-columns: 100%;
    margin-bottom: 38px;
  }

  .vote-card {
    height: 470px;
    margin: 0 auto;
  }

  .banner-submit {
    height: 80px;
    margin-bottom: 40px;
  }

  .banner-submit__p {
    font-size: 22px;
    padding: 20px 0 0 40px;
  }

  .banner-submit__button {
    font-size: 16px;
    width: 140px;
    margin-left: 30px;
  }

  .footer-social {
    font-size: 22px;
    padding: 0 10px 0 0;
  }
}

@media screen and (max-width:750px) {
  .header {
    background: none;
  }

  .navbar {
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid transparent;
    display: block;
    height: 100%;  
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  }

  .logo {
    display: block;
    padding-left: 0;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 0;
  }

  .navbar__nav {
    margin-top: 0;
    text-align: center;
    width: 100%;
    padding: 0;
  }

  .navbar__nav__ul {
    background-color: rgba(0, 0, 0, 0.1);
    margin-bottom: 5px;
  }

  .navbar__nav__li {
    display: inline-block;
    float: none;
  }

  .navbar__nav__li_a {
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

@media screen and (max-width:576px) {
  .jumbotron {
    background-image: url("../img/pope-background-min.png");
    height: 540px;
    margin-bottom: 22px;
    position: relative;
    width: 100%;
  }

  .container {
    width: 400px;
  }

  .navbar {
    background-color: rgba(0, 0, 0, 0.6);
    border: 1px solid transparent;
    display: block;
    height: 100%;  
  }

  .logo {
    display: block;
    font-size: 22px;
    padding-left: 0;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
  }

  .navbar__nav {
    background-color: rgba(0, 0, 0, 0.6);
    margin-top: 0;
    text-align: center;
    width: 100%;
    padding: 0;
  }

  .navbar__nav__ul {
    display: block;
    width: 100%;
  }

  .navbar__nav__li {
    border-top: 1px dotted #333333;
    display: block;
    width: 100%;
  }

  .main-thumb {
    height: 220px;
    margin: 0px auto;
    width: 400px;
  }

  .main-information {
    padding-top: 10px;
  }

  .main-character {
    font-size: 22px;
    margin-bottom: 10px;
  }

  .main-description {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .main-more {
    display: none; 
  }

  .main-action-text {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .main-vote {
    height: 49px;
    line-height: 49px;
  }

  .main-thumbs__up {
    font-size: 24px;
  }

  .main-thumbs__down {
    font-size: 24px;
  }

  .count-down {
    bottom: 0px;
  }

  .text-count-down {
    font-size: 13px;
    padding: 15px 8px 14px 0;
  }

  .days-count-down {
    font-size: 20px;
  }

  .days-count-down__p {
    height: 30px;
    padding-top: 10px;
  }

  .promo-message {
    display: none;
  }

  .votes-title {
    font-size: 32px;
    margin-bottom: 16px;
    text-align: center;
  }

  .votes-list {
    grid-row-gap: 40px;
    grid-template-columns: 100%;
    margin-bottom: 38px;
  }

  .vote-card {
    height: 470px;
    margin: 0 auto;
  }

  .banner-submit {
    height: 60px;
    margin-bottom: 30px;
  }

  .banner-submit__p {
    font-size: 14px;
    padding: 14px 0 0 20px;
    width: 65%;
  }

  .banner-submit__button {
    font-size: 14px;
    width: 120px;
    margin: 5px;
    float: right;
  }

  .footer {
    border-top: none;
    height: 100%;
    grid-template-columns: 100%;
    padding-top: 0px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
  }

  .footer-links__ul {
    display: block;
    width: 100%;
    padding-top: 5px;
  }

  .footer-links__li {
    border-top: 1px dotted #333333;
    display: block;
    width: 100%;
  }

  .footer-links__li__a {
    padding: 10px;
  }
  
  .footer-follow-us {
    border-top: 1px dotted #333333;
    text-align: center;
  }

  .footer-follow-text {
    display: block;
    width: 100%;
  }

  .footer-social {
    display: block;
    width: 100%;
    border-top: 1px dotted #333333;
    font-size: 22px;
    padding: 0 10px 0 0;
  }
}